@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css";
@import "https://fonts.cdnfonts.com/css/garet";

.details_container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin-bottom: 100px; /* Add space between containers */
    border: 1px solid #d4d10d;
   /* justify-content: center;*/
   
  }
  details_img {
    max-width: 70%;
    max-height:70%;
  }
  
  .details_text {
    font-size: 30px;
    padding-left: 20px;
    font-family: 'Garet', sans-serif;
  }

.tile {
  align-items: center;
  margin:auto;
}

.subtitle{
  font-family: 'Garet', sans-serif;
}
.title{
  font-family: 'Garet', sans-serif;
}