<aside class="sidebar">
    <nav>
        <ul class="sidebar__nav">
            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="mdi mdi-account-circle"></i>
                    <span class="sidebar__nav__text">Account</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="mdi mdi-chart-line"></i>
                    <span class="sidebar__nav__text">Graphics</span>
                </a>
            </li>

            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="mdi mdi-bus"></i>
                    <span class="sidebar__nav__text">Vehicles</span>
                </a>
            </li>
            <li>

            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="mdi mdi-comment-text"></i>
                    <span class="sidebar__nav__text">Notifications</span>
                </a>
            </li>

            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="mdi mdi-settings"></i>
                    <span class="sidebar__nav__text">Settings</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>