{% extends 'dashboard_partials/base.html' %}

{% block content %}

<div class="columns">
   <!-- CAR IMAGE -->
   <div class="column is-8">
      <div class="card">
         <div class="card-content">
            <div class="media">
               <div class="media-left">
                  <img src="/static/images/{{image_location}}" alt="Image" width="500" height="600">
               </div>
               <div class="media-content">
                  <table class="table">
                     <tbody>
                        <tr>
                           <td><p class="is-6"><strong>Vehicle ID</strong></p></td>
                           <td>{{vehicle_details.vehicle_id}}</td>
                        </tr>
                        <tr>
                           <td><p class="is-6"><strong>Customer ID</strong></p></td>
                           <td>{{vehicle_details.customer_id}}</td>
                        </tr>
                        <tr>
                           <td><p class="is-6"><strong>Plate</strong></p></td>
                           <td>{{vehicle_details.plate}}</td>
                        </tr>
                        <tr>
                           <td><p class="is-6"><strong>Type</strong></p></td>
                           <td>{{vehicle_details.class}}</td>
                        </tr>
                        <tr>
                           <td><p class="is-6"><strong>Assigned Route</strong></p></td>
                           <td>{{vehicle_details.route}}</td>
                        </tr>
                        <tr>
                           <td><p class="is-6"><strong>Signal Status</strong></p></td>
                           <td>{{vehicle_details.status}}</td>
                        </tr>
                        <tr>
                           <td><p class="is-6"><strong>Last Location</strong></p></td>
                           <td>{{vehicle_details.last_location}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="column is-4">

      <!-- DRIVER DETAILS -->
      <div class="columns">
         <div class="column">
            <div class="card tile is-child">
               <header class="card-header">
                  <p class="card-header-title">
                     <span class="icon"><i class="mdi mdi-account default"></i></span>
                     Driver
                  </p>
               </header>
               <div class="card-content">
                  <div class="media">
                     <div class="media-left">
                        <figure class="image is-64x64">
                           <img class="is-rounded" src="/static/images/{{driver_details.profile_photo}}" width="64", height="64">
                        </figure>
                     </div>
                     <div class="media-content">
                        <p class="is-6">{{driver_details.name}}<br>{{driver_details.phone}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <!-- VEHICLE DETAILS -->
      <div class="columns">
         <div class="column">
            <div class="card tile is-child">
               <div class="card-content">
                  <nav class="level">
                     <div class="level-item has-text-centered">
                       <div>
                           <p class="heading">Predicted Failure Date & Reason</p>
                           <p class="title">{{prediction_details.failure_date}}</p>
                           <p class="heading"><strong>{{prediction_details.failure_reason}}</strong></p>
                       </div>
                     </div>
                  </nav>
               </div>
               <footer class="card-footer">
                  <a href="#" class="card-footer-item">Plan Maintance</a>
                </footer>
            </div>
         </div>
      </div>
   </div>
</div>


{% endblock %}