{% extends 'partials/base.html' %}

{% block content %}
<div class="columns is-centered is-mobile is-desktop">
    <div class="column is-one-third-desktop is-10-mobile mb-0">
        <figure class="image">
            <img src="./static/images/ptai_logo_gri.png"></img>
        </figure>
        <p class="subtitle is-size-6-desktop is-size-7-mobile has-text-right">Public Transportation Artificial
            Intelligence</p>
    </div>
</div>

<section class="section is-small mt-0">
    <div class="columns is-vcentered is-mobile">
        <div class="column is-one-third-desktop is-one-half-mobile">
            <h1 class="title has-text-centered has-text-justify is-size-5-mobile">PTAI is an AI tool for your company
            </h1>
            <p class="subtitle is-size-6-mobile">Artificial Intelligence makes decisions more punctually!</p>
        </div>
        <div class="column is-hidden-mobile">
            <img src="./static/images/index.png">
        </div>
        <div class="column is-one-third-desktop is-one-half-mobile">
            <h1 class="title has-text-centered has-text-justify is-size-5-mobile">PTAI manages companies' operations
            </h1>
            <p class="subtitle is-size-6-mobile">In order to not waste your time with glitches, we are warning you
                before happen!</p>
        </div>
    </div>
</section>

<figure class="image is-hidden-desktop is-64x64-mobile">
    <img src="./static/images/index.png"></img>
</figure>

<section class="section is-small">
    <div class="columns is-centered has-text-centered has-text-justify is-mobile ">
        <div class="column ">
            <h1 class="title is-size-5-mobile">PTAI provides after sales support </h1>
            <p class="subtitle is-size-6-mobile ">Our team always work for you. You can reach us whenever you want!</p>
        </div>

    </div>
</section>


<section class="section is-large">
    <div class="columns">
        <div class="column is-one-half">
            <figure class="image is-2by1">
                <img width="500" height="250" src="./static/images/in_graph.png"></img>
            </figure>
        </div>
        <div class="column is-one-half">
            <h1 class="title is-size-4-mobile">What is PTAI ?</h1>
            <p class="subtitle is-size-6-mobile">PTAI is an AI-based predictive maintenance optimization tool for
                company's
                operations.
                With PTAI, you can minimize downtime, reduce maintenance costs, and maximize the efficiency of your
                operations.<br>
                PTAI utilizes machine learning algorithms, IoT sensors, and predictive analytics to monitor the
                health of your vehicles and
                predict when maintenance is needed before a breakdown occurs.</p>
            <div class="buttons is-centered">
                <a class="button is-dark" href="{{ url_for('PageRoutes.project_details')}}">Learn more</a>
            </div>

        </div>
    </div>
</section>



<div class="section has-background-white-ter is-mobile">
    <div class="title has-text-centered is-size-4-mobile">
        Sustainable Development Goals
    </div>
    <div class="columns is-mobile is-centered is-desktop ">
        <div class="column is-one-quarter-desktop is-one-third-mobile">
            <figure class="image is-1by1">
                <img src="./static/images/SDG/SDG-8.svg"></img>
            </figure>
        </div>
        <div class="column is-one-quarter-desktop is-one-third-mobile">
            <figure class="image is-1by1">
                <img src="./static/images/SDG/SDG-9.svg"></img>
            </figure>
        </div>
        <div class="column is-one-quarter-desktop is-one-third-mobile">
            <figure class="image is-1by1">
                <img src="./static/images/SDG/SDG-11.svg"></img>
            </figure>
        </div>
    </div>
</div>

{% endblock %}