{% extends 'partials/base.html' %}

{% block content %}

<div class="container_background">
    <img class="mySlides" src="./static/images/detail_back.png" style="width:100%" >
    <div class="centered" ><font size="15">Welcome to our cutting-edge Predictive Maintenance Solutions project, designed to revolutionize the way companies manage and maintain their vehicles. 
        With our advanced predictive maintenance tools, you can minimize downtime, 
        reduce maintenance costs, and maximize the efficiency of your operations.
        Our Predictive Maintenance Solutions project combines state-of-the-art technology and data analytics to 
        offer an intelligent and proactive approach to equipment maintenance. We utilize machine learning algorithms, 
        IoT sensors, and predictive analytics to monitor the health of your machinery and predict when maintenance is needed before a breakdown occurs.</font></div>
</div>

<div class="details_container">
    <div class="details_img">
      <img src="./static/images/random.png">
    </div>
    <div class="details_text">
      <h1><strong>Real-time Monitoring:</strong>Our system continuously collects data from your equipment, allowing you to monitor their performance in real-time.</h1>
    </div> 
</div>

<div class="details_container">
    <div class="details_text">
        <h1><strong>Predictive Analytics: </strong>Advanced machine learning algorithms analyze the data to predict when equipment is likely to fail, enabling you to schedule maintenance at the most convenient times.</h1>
    </div>    
    <div class="details_image">
        <img src="./static/images/graph.png">
    </div>
</div>



<div class="details_container">    
    <div class="details_image">
        <img src="./static/images/cost.png">
    </div>
    <div class="details_text">
        <h1><strong>Cost Reduction: </strong>By addressing issues before they become critical, you can significantly reduce the cost of emergency repairs and minimize downtime.</h1>
    </div>
</div>


<div class="details_container">
    <div class="details_text">
        <h1><strong>Quick Alert System: </strong>Receive alerts and notifications quickly, ensuring you're always informed about the status of your equipment.</h1>
    </div>    
    <div class="details_image">
        <img src="./static/images/alert.png">
    </div>
</div>


<div class="details_container">    
    <div class="details_image">
        <img src="./static/images/data.png">
    </div>
    <div class="details_text">
        <h1><strong>Historical Data Analysis: </strong>Access historical maintenance data and trends to make informed decisions about equipment replacement and upgrades.</h1>
    </div>
</div> 


       
<!-- 
<div>
        <h2>Project Overview</h2>
        <p></p>

        <h2>Benefits</h2>
        <ul>
            <li><strong>Increased Efficiency:</strong> Predictive maintenance allows you to optimize your maintenance schedules, ensuring equipment is serviced only when necessary.</li>
            <li><strong>Cost Savings:</strong> Save money by avoiding unnecessary maintenance and reducing unplanned downtime.</li>
            <li><strong>Improved Safety:</strong> Ensure the safety of your employees by addressing potential equipment issues proactively.</li>
            <li><strong>Enhanced Productivity:</strong> Minimize disruptions to your operations and maximize the productivity of your workforce.</li>
        </ul>
</div>

-->


{% endblock %}