{% extends 'partials/base.html' %}

{% block content %}
<div class="container is-max-widescreen">
    <img src="./static/images/scheme.png" style="width:100%" >
        <div class="content">
            <div class="subtitle has-text-left">
                Our Predictive Maintenance Solutions project, designed to revolutionize the way companies manage and maintain their vehicles. 
                With our predictive maintenance tools ;
                <ul>
                    <li>Minimize downtime.</li>
                    <li>Reduce maintenance costs.</li>
                    <li>Maximize the efficiency of your operations.</li>
                    </ul><br>
                Data analytics to offer an intelligent and proactive approach to equipment maintenance. We utilize machine learning algorithms, 
                IoT sensors, and predictive analytics to monitor the health of your machinery and predict when maintenance is needed before a breakdown occurs.<br><br><br>
            </div>
        </div>
</div>

<div class="details_container">
    <div class="details_img">
      <img src="./static/images/random.png">
    </div>
    <div class="details_text">
      <h1><strong>Real-time Monitoring:</strong>Our system continuously collects data from your equipment, allowing you to monitor their performance in real-time.</h1>
    </div> 
</div>

<div class="details_container">
    <div class="details_text">
        <h1><strong>Predictive Analytics: </strong>Advanced machine learning algorithms analyze the data to predict when equipment is likely to fail, enabling you to schedule maintenance at the most convenient times.</h1>
    </div>    
    <div class="details_image">
        <img src="./static/images/graph.png">
    </div>
</div>


<div class="details_container">    
    <div class="details_image">
        <img src="./static/images/cost.png">
    </div>
    <div class="details_text">
        <h1><strong>Cost Reduction: </strong>By addressing issues before they become critical, you can significantly reduce the cost of emergency repairs and minimize downtime.</h1>
    </div>
</div>


<div class="details_container">
    <div class="details_text">
        <h1><strong>Quick Alert System: </strong>Receive alerts and notifications quickly, ensuring you're always informed about the status of your equipment.</h1>
    </div>    
    <div class="details_image">
        <img src="./static/images/alert.png">
    </div>
</div>


<div class="details_container">    
    <div class="details_image">
        <img src="./static/images/data.png">
    </div>
    <div class="details_text">
        <h1><strong>Historical Data Analysis: </strong>Access historical maintenance data and trends to make informed decisions about equipment replacement and upgrades.</h1>
    </div>
</div> 


{% endblock %}