{% extends 'partials/base.html' %}

{% block content %}


<div class="columns is-centered is-mobile">
  <div class="column">
    <img src="./static/images/scheme.png" style="width:100%">
    <div class="content has-text-left has-text-left-mobile is-size-7-mobile is-size-5-tablet">

      Our Predictive Maintenance Solutions project, designed to revolutionize the way companies manage and maintain
      their vehicles.
      With our predictive maintenance tools ;
      <ul>
        <li>Minimize downtime.</li>
        <li>Reduce maintenance costs.</li>
        <li>Maximize the efficiency of your operations.</li>
      </ul><br>
      Data analytics to offer an intelligent and proactive approach to equipment maintenance. We utilize machine
      learning algorithms,
      IoT sensors, and predictive analytics to monitor the health of your machinery and predict when maintenance is
      needed before a breakdown occurs.<br><br><br>

    </div>

  </div>
</div>


<div class="columns is-centered is-mobile">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="./static/images/random.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 is-size-5-mobile">Real-time Monitoring</p>
          </div>
        </div>
        <div class="content is-size-5-tablet is-size-7-mobile">
          Our system continuously collects data from your equipment,
          allowing you to monitor their performance in real-time.
        </div>
      </div>
    </div>

  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="./static/images/graph.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 is-size-5-mobile">Predictive Analytics</p>
          </div>
        </div>
        <div class="content is-size-5-tablet is-size-7-mobile">
          Advanced machine learning algorithms analyze the data to predict when equipment is likely to fail,
          enabling you to schedule maintenance at the most convenient times.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns is-centered is-mobile">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="./static/images/cost.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 is-size-5-mobile">Cost Reduction</p>
          </div>
        </div>
        <div class="content is-size-5-tablet is-size-7-mobile">
          By addressing issues before they become critical, you can significantly reduce
          the cost of emergency repairs and minimize downtime.
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="./static/images/alert.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 is-size-5-mobile">Quick Alert System</p>
          </div>
        </div>
        <div class="content is-size-5-tablet is-size-7-mobile">
          Receive alerts and notifications quickly,
          ensuring you're always informed about the status of your equipment.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="columns is-centered is-mobile">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="./static/images/data.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 is-size-5-mobile">Historical Data Analysis</p>
          </div>
        </div>
        <div class="content is-size-5-tablet is-size-7-mobile">
          Access historical maintenance data and
          trends to make informed decisions about equipment replacement and upgrades.
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <img src="./static/images/alert.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-3 is-size-5-mobile">Quick Alert System</p>
          </div>
        </div>
        <div class="content is-size-5-tablet is-size-7-mobile">
          Receive alerts and notifications quickly,
          ensuring you're always informed about the status of your equipment.
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}